
.container{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
}

.title{
Text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    margin-top: 5px;
}

.main_title{
Text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    color: #ffffff;
}