.container{
    width: 98%;
    margin: 0 auto;
    display: flex;
    align-items: center;
Height: 45px;
}

.img{
    width: 30px;
    height: 30px;
    margin-top: 0px;
}

.text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;              /* zajmuje całą wolną przestrzeń */
    text-align: center;   /* tekst na środku */
}


.title{
Text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    margin-top: 0px;
}


.main_title{
Text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0px;

    color: #ffffff;
}
.main_title, .title {
    margin: 0;                /* usuwa marginesy domyślne */
    line-height: 1.2;         /* kontroluje odstęp między wierszami */
}