@font-face {
  font-family: 'ticket';
  src: url('ticket.ttf') format('truetype');
}

.container{
    width: 100%;

    display: flex;
    align-items: center;
Height: 45px;
}
.container2{
    width: 100%;
Flex-direction: column;
    display: flex;
    align-items: center;
Height: auto;
}

.container3{
    width: 100%;
Flex-direction: column;
    display: flex;
Margin-top:0px;
Margin-left:0px;
Margin-bottom:90px;
Height: auto;
Align-items: flex-start;
}

.img{
    width: 30px;
    height: 30px;
    margin-top: 0px;
}

.text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;              /* zajmuje całą wolną przestrzeń */
    text-align: center;   /* tekst na środku */
}


.title{
Text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    margin-top: 0px;
}


.main_title{
Text-align: center;
    font-size: 22px;
    margin-top: 0px;
    font-weight: bold;
    color: #ffffff;
}

.main1{
Text-align: left;
    font-size: 18px;
    margin-top: 17xpx;
Margin-left:14px;
    margin-bottom: 5px;  
    color: #ffffff;
}

.secondary1, date{
Text-align: left;
    font-size: 18px;
    margin: 0;  
    color: #ffffff;
Margin-left:14px;
    font-weight: bold;
}
.date{
Text-align: left;
    font-size: 18px;
    margin: 0;  
    color: #ffffff;
Margin-left:14px;
    font-weight: bold;
}
.number{
Background-color: #1a1a1a;
Text-align: left;
margin-left: 125px;
    font-size: 18px;
    margin: 0;  
    color: #ffffff;
    font-weight: bold;
Align-self: flex-start;
Border: none;
Outline: none;
Box-shadow: none;
Margin-left: -5px;
}
.green{
Text-align: left;
    font-size: 18px;
    margin: 0;  
    color: #5BA746;
Margin-left:14px;
    font-weight: bold;
}

.main_title, .title {
    margin: 0;                /* usuwa marginesy domyślne */
    line-height: 1.2;         /* kontroluje odstęp między wierszami */
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    z-index: 9999;
    border-bottom: 1px solid #343434;
}

.img:first-child {
    margin-left: 10px;  /* odstęp od lewej krawędzi */
}

.img:last-child {
    margin-right: 10px; /* odstęp od prawej krawędzi */
}

.bottom-bar {
    position: fixed;
    Bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    z-index: 9999;
    Border-top: 1px solid #343434;
    Justify-content: center;
}

.marquee-container {
    position: relative;
    width: 100%;
    height: 40px; /* wysokość paska pod top barem */
    overflow: hidden; /* ukrywa część obrazka poza ekranem */
    margin-top: 65px; /* wysokość top baru, żeby nie nachodziło */
    background-color: #1a1a1a; /* opcjonalnie tło dopasowane do top baru */
}

.marquee-img {
    position: absolute;
    height:40px;  /* dopasowuje wysokość do kontenera */
    right: -100%;  /* start poza ekranem po prawej */
    animation: marquee 10s linear infinite; /* czas trwania, linia, powtarzanie */
}

  .responsive-image {
    display: block;           /* usuwa ewentualne przerwy pod obrazem */
    margin: 0 45px 10px 45px;
    margin-top: 10px;           /* 20px marginesu po lewej i prawej */
    width: calc(100% - 90px); /* szerokość obrazu dopasowana do marginesów */
    height: auto;    
} 

.fancy-btn {
    background-color: #006EF5; /* kolor przycisku */
    color: white;
    border: none;
    padding:17px 0;
width: calc(100% - 50px); 
    margin-left: 25px;  /* stały margines od lewej */
    margin-right: 25px; /*
    cursor: pointer;


    /* Zaokrąglenie tylko dwóch rogów */
    border-top-left-radius: 5px;  /* lewy górny */
    border-bottom-right-radius: 5px; /* prawy dolny */
    font-size: 18px;
    font-family: "ticket", sans-serif;
    font-weight: bold;
    /* Dodatkowo opcjonalnie: efekt hover */
    transition: background 0.3s;
}

.fancy-btn:hover {
    background-color: #0048A8;
}

@keyframes marquee {
    0% {
        right: 100%;   /* start poza ekranem po prawej */
    }
    100% {
        right: -100%;    /* kończy poza ekranem po lewej */
    }
}